@tailwind base; 
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #202020;
  --secondary-color: #ff9800;
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Tryb ciemny */
[data-theme='light'] {
  --primary-color: #4CAF50;
  --secondary-color: #8BC34A;
  --background-color: #ccbebb;
  --text-color: #000000;
}

/* Tryb niebieski */
[data-theme='blue'] {
  --primary-color: #2196F3;
  --secondary-color: #03A9F4;
  --background-color: #e3f2fd;
  --text-color: #0d47a1;
}

/* Tryb zielony */
[data-theme='green'] {
  --primary-color: #4CAF50;
  --secondary-color: #8BC34A;
  --background-color: #f1f8e9;
  --text-color: #000000;
}