@tailwind base; 
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Ukrywa pasek przewijania */
}


.pretty-scroll::-webkit-scrollbar {
  width: 6px;
}

.pretty-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.pretty-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  /* background: var(--accent-color); */
  border-radius: 10px;
}

.pretty-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}


:root {

  --clr-surface-0: #121212;
  --clr-surface-1: #282828;
  --clr-surface-2: #3f3f3f;
  --clr-surface-3: #575757;
  --clr-surface-4: #717171;

  --accent-color-0: #c050cc;         
  --accent-color-1: #c866d2;
  --accent-color-2: #d17ad8;
  --accent-color-3: #d88dd3;
  --accent-color-4: #e0a1e3;

  --text-color-0: #ffffff;
}

[data-theme='light'] {

  --clr-surface-0: #ffffff;
  --clr-surface-1: #f0f0f0;
  --clr-surface-2: #e1e1e1;
  --clr-surface-3: #d3d3d3;
  --clr-surface-4: #c5c5c5;

  --accent-color-0: #c050cc;         
  --accent-color-1: #c866d2;
  --accent-color-2: #d17ad8;
  --accent-color-3: #d88dd3;
  --accent-color-4: #e0a1e3;

  --text-color-0: #000000;
}


[data-theme='blue'] {
  --clr-surface-0: #2e2d7d;
  --clr-surface-1: #47418b;
  --clr-surface-2: #5f5699;
  --clr-surface-3: #756ca8;
  --clr-surface-4: #8c83b6;

  --accent-color-0: #a4987a;         
  --accent-color-1: #aea388;
  --accent-color-2: #b8ae96;
  --accent-color-3: #c2b9a5;
  --accent-color-4: #ccc5b3;

  --text-color-0: #ffffff;
}


[data-theme='green'] {
  --clr-surface-0: #264f25;
  --clr-surface-1: #3d613a;
  --clr-surface-2: #547350;
  --clr-surface-3: #6b8667;
  --clr-surface-4: #82997f;

  --accent-color-0: #a4987a;         
  --accent-color-1: #aea388;
  --accent-color-2: #b8ae96;
  --accent-color-3: #c2b9a5;
  --accent-color-4: #ccc5b3;

  --text-color-0: #ffffff;
}

[data-theme='contrast'] {
  --clr-surface-0: #ffffff;
  --clr-surface-1: #f4f6fa;
  --clr-surface-2: #e5e7eb;
  --clr-surface-3: #cbd5e1;
  --clr-surface-4: #94a3b8;

  --accent-color-0: #4338ca; 
  --accent-color-1: #4f46e5;
  --accent-color-2: #6366f1;
  --accent-color-3: #818cf8;
  --accent-color-4: #a5b4fc;

  --text-color-0: #020617;   
}