@tailwind base; 
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Ukrywa pasek przewijania */
}


.pretty-scroll::-webkit-scrollbar {
  width: 6px;
}

.pretty-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.pretty-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  /* background: var(--accent-color); */
  border-radius: 10px;
}

.pretty-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}


:root {

  --clr-surface-0: #121212;
  --clr-surface-1: #282828;
  --clr-surface-2: #3f3f3f;
  --clr-surface-3: #575757;
  --clr-surface-4: #717171;

  --accent-color-0: #c050cc;         
  --accent-color-1: #c866d2;
  --accent-color-2: #d17ad8;
  --accent-color-3: #d88dd3;
  --accent-color-4: #e0a1e3;

  --text-color-0: #ffffff;
}

[data-theme='light'] {

  --clr-surface-0: #ffffff;
  --clr-surface-1: #f0f0f0;
  --clr-surface-2: #e1e1e1;
  --clr-surface-3: #d3d3d3;
  --clr-surface-4: #c5c5c5;

  --accent-color-0: #c050cc;         
  --accent-color-1: #c866d2;
  --accent-color-2: #d17ad8;
  --accent-color-3: #d88dd3;
  --accent-color-4: #e0a1e3;

  --text-color-0: #000000;
}


[data-theme='blue'] {
  --primary-color: #2196F3;
  --secondary-color: #03A9F4;

  --tertiary-color: #0288D1;
  --quaternary-color: #81D4FA;
  --accent-color: #2962FF;

  --background-color: #e3f2fd;
  --text-color: #0d47a1;
  --text-primary-color: #0d47a1;
  --text-secondary-color: #5472d3;
}


[data-theme='green'] {
  --primary-color: #4CAF50;
  --secondary-color: #8BC34A;

  --tertiary-color: #7CB342;
  --quaternary-color: #C5E1A5;
  --accent-color: #1B5E20;

  --background-color: #f1f8e9;
  --text-color: #000000;
  --text-primary-color: #1B5E20;
  --text-secondary-color: #4CAF50;
}
